# Copy this file to backend.tfvars and update the values for your environment.
# Do not commit the generated backend.tfvars file to version control.
resource_group_name  = "TerraformStorageAccount"
storage_account_name = "terrsaform"
container_name       = "terraform"
key                  = "infra-core-prod.tfstate"
use_azuread_auth     = true
