org_code                                   = "contoso"
environment                                = "prod"
location                                   = "australiaeast"
vnet_address_space                         = ["10.20.0.0/16"]
client_id                                  = "00000000-0000-0000-0000-000000000000"
client_secret                              = "replace-with-client-secret"
spoke_tenant_id                            = "00000000-0000-0000-0000-000000000000"
spoke_subscription_id                      = "00000000-0000-0000-0000-000000000000"
app_subnet_prefix                          = "10.20.1.0/24"
private_endpoint_subnet_prefix             = "10.20.2.0/24"
hub_subscription_id                        = "00000000-0000-0000-0000-000000000000"
hub_tenant_id                              = "00000000-0000-0000-0000-000000000000"
hub_resource_group_name                    = "rg-hub-network"
hub_vnet_name                              = "vnet-hub"
hub_private_dns_resolver_name              = "pdnsr-hub"
hub_private_dns_inbound_endpoint_name      = "pdnsr-inbound-hub"
